<table>
  <tr>
    <th>Автор</th>
    <th>Название</th>
    <th>Число страниц</th>
    <th>Дата начала</th>
    <th>Дата окончания</th>
    <th>Рейтинг</th>
    <th>Комментарий</th>
    <th>Действия</th>
  </tr>
  <tr v-for="book in books">
    <td>[[ book.author ]]</td>
    <td>[[ book.title ]]</td>
    <td>[[ book.pages_number ]]</td>
    <td>
      <span v-if="book.date_start">[[ book.date_start ]]</span>
      <span v-else>&mdash;</span>
    </td>
    <td>
      <span v-if="book.date_end">[[ book.date_end ]]</span>
      <span v-else>&mdash;</span>
    </td>
    <td width="20%">
      <div class="rating"><label class="full checked" v-for="i in book.rating"></label></div>
    </td>
    <td>[[ book.comment ]]</td>
    <td class="actions">
      <button>
        <a target="_blank" v-bind:href="'https://www.google.com/search?q=книга' + ' ' + book.title + ' ' + book.author">
          <i class="fas fa-link"></i>
        </a>
      </button>
      <button v-on:click="show_edit_form=true; edited_book=book">
        <i class="fas fa-edit"></i>
      </button>
      <button v-on:click="delete_book(book)">
        <i class="fas fa-ban"></i>
      </button>
    </td>
  </tr>
</table>
