{% extends 'base.html' %}

{% block title %}Прочтенные книги{% endblock %}

{% block body %}
    {% include 'add_form.html' %}

    {% if books %}
        <table>
            <tr>
                <th>Автор</th>
                <th>Название</th>
                <th>Число страниц</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Комментарий</th>
                <th>Действия</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.author }}</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.pages_number }}</td>
                    <td>
                        {% if book.date_start %}
                            {{ book.date_start|pretty_date }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>
                        {% if book.date_end %}
                            {{ book.date_end|pretty_date }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>{{ book.comment }}</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="id" value="{{ book.id }}">
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" value="Удалить">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info">Ничего нет</div>
    {% endif %}
{% endblock %}
