{% extends 'base.html' %}

{% block title %}Прочтенные книги{% endblock %}

{% block head %}
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <style>
    td.actions {
      white-space: nowrap;
    }
    td.actions button {
      padding: 0px 13px;
    }
    .fa-ban {
      color: red;
    }
    .fa-edit {
      color: mediumseagreen;
    }
  </style>
{% endblock %}

{% block script %}
  <script src="static/app.js"></script>
{% endblock %}

{% block body %}
  <div v-show="!isLoading">
    {% include 'add_form.html' %}
    {% include 'edit_form.html' %}
    <template v-if="books.length">
      {% include "books_list.html" %}
    </template>
    <template v-else>
      <div class="alert alert-info">Ничего нет</div>
    </template>
  </div>
{% endblock %}
