{% extends 'base.html' %}

{% block title %}Статистика{% endblock %}

{% block head %}
  <style>
    tfoot td {
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block body %}
  <img src="data:image/png;base64,{{ scatter|safe }}"/>

  {% for year in monthly %}
    <table>
      <caption><h5>{{ year }}</h5></caption>
      <thead>
        <tr>
          <th>Месяц</th><th>Число книг</th><th>Число страниц</th>
        </tr>
      </thead>
      {% set sorted_months = monthly[year]|dictsort(by='key', reverse=True) %}
      {% for month, stats in sorted_months %}
        <tr>
          <td>{{ month|readable_month }}</td>
          <td>{{ stats['count'] }}</td>
          <td>{{ stats['pages'] }}</td>
        </tr>
      {% endfor %}
      <tfoot>
        <tr>
          <td>Полезных</td>
          <td>{{ helpful[year]['count'] }}</td>
          <td>{{ helpful[year]['pages'] }} ({{ helpful[year]['pages_percent'] }}%)</td>
        </tr>
        <tr>
          <td>Английских</td>
          <td>{{ english[year]['count'] }}</td>
          <td>{{ english[year]['pages'] }} ({{ english[year]['pages_percent'] }}%)</td>
        </tr>
        <tr>
          <td>Всего</td>
          <td>{{ total[year]['count'] }}</td>
          <td>{{ total[year]['pages'] }}</td>
        </tr>
      </tfoot>
    </table>
  {% endfor %}
{% endblock %}
