{% extends 'base.html' %}

{% block title %}Статистика{% endblock %}

{% block head %}
  <style>
    tfoot td {
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block body %}
  {% for books_by_year in grouped %}
    <table>
      <caption><h5>{{ books_by_year.year }}</h5></caption>
      <thead>
        <tr>
          <th>Месяц</th><th>Число книг</th><th>Число страниц</th>
        </tr>
      </thead>
      {% for books_by_month in books_by_year.books_by_month %}
        <tr>
          <td>{{ books_by_month.month|readable_month }}</td>
          <td>{{ books_by_month.stats.count }}</td>
          <td>{{ books_by_month.stats.pages }}</td>
        </tr>
      {% endfor %}
      <tfoot>
        <tr>
          <td>Полезных</td>
          <td>{{ books_by_year.helpful_stats.count }}</td>
          <td>{{ books_by_year.helpful_stats.pages }} ({{ books_by_year.helpful_stats.pages_percent }}%)</td>
        </tr>
        <tr>
          <td>Английских</td>
          <td>{{ books_by_year.english_stats.count }}</td>
          <td>{{ books_by_year.english_stats.pages }} ({{ books_by_year.english_stats.pages_percent }}%)</td>
        </tr>
        <tr>
          <td>Всего</td>
          <td>{{ books_by_year.stats.count }}</td>
          <td>{{ books_by_year.stats.pages }}</td>
        </tr>
      </tfoot>
    </table>
  {% endfor %}
{% endblock %}
